.main > div {
  width: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main > div > h2 {
  font-size: 25px;
  margin: 1.2em 0;
  font-family: "Poppins", sans-serif;
}

.main > div > p {
  font-size: 17px;
  align-self: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
}