.main-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  border-bottom: 2.5px solid #e3e3e3;
}

.main-header > img {
  padding-right: 25%;
  height: 5vh;
}

.main-header > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  margin: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0% 15%;
}
.main > h1 {
  align-self: center;
  padding-right: 45%;
  margin-bottom: 7%;
  font-family: "Poppins", sans-serif;
}


